body {
  margin: 0;
  border: 0;
  background-color: white;
  font-family: 'Open Sans', sans-serif;
}

/* -------- Name, Intro, Img --------*/
.Head {
  display: flex;
  width: 60%;
  margin: 0 auto;
  background-color: transparent; /* For debugging */
  justify-content: space-between;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

#HeadLeft {
  background-color: transparent; /* For debugging */
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 70%;
  padding-right: 20px;
}

#Name {
  width: 100%;
  text-align: center;
}

#Intro p {
  margin-top: 0;
}

#Intro {
  width: 100%;
}

#myPic {
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: 30%;
}

#myPic img {
  width: 100%;
}

/* --------- Directory -----------*/
#Directory {
  margin: 0 auto;
  display: flex;
  margin-top: 40px;
  margin-bottom: 20px;
  padding: 20px;
  justify-content: center;

}

.DirBtn {
  text-decoration: none;
  font-size: 18px;
  padding: 5px 15px;
  margin: 10px;
  color: darkmagenta;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.DirBtn:hover {
  background-color: darkmagenta;
  color: white;
  border-radius: 5px;
}

/*---------- Projects Showcase -----------------*/

#Projects {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  background-color: tan;
}

.ProjectsCol {
  width: 33.3333%;
  box-sizing: border-box;
  display: flex;
  flex-flow: column;

}
.ProjectsCol img {
  width: 100%;
  flex-grow:1;
}

/* ---------- About, Contact -----------*/

#About {
  margin: 0 auto;
  margin-top: 40px;
  width: 90%;
  text-align: center;
}

#Contact {
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
  width: 90%;
  text-align: center;
}

#Contact h3 {
  margin-bottom: 10px;
}

.ContactBtn {
  color: white;
  font-family: 'Open Sans', sans-serif;
  padding: 5px 0px;
  width: 120px;
  font-size: 15px;
  text-decoration: none;
  margin: 10px;
  background-color: darkmagenta;
  border: none;
  border-radius: 3px;
}

.ContactBtn:hover {
  border: 2px solid darkmagenta;
  color: darkmagenta;
  background-color: transparent;
  cursor: pointer;
}

